<div id="pantalla-inicial">
    <div class="vista-pc">
      <div id="logo">
        <img src="/assets/imagenes/logo.svg" alt="" />
      </div>
      <div id="contra-logo">
        <div class="transparent"></div>
        <div class="title">
          <h1>Creando tecnología</h1>
          <h2>en México</h2>
        </div>
      </div>
      <div class="hero-left">
        <div class="acerca-de">
          <div class="text">
            <p>Compensación Reactiva Ingeniería y Manufactura S.A. de C.V. es una empresa 100% mexicana.</p>
            <button>Saber mas...</button>
          </div>
        </div>
        <div class="foto">
          <img src="/assets/imagenes/galeria/20190131_114635.jpg">
        </div>
        <div class="bookamark">
          <img src="/assets/imagenes/bokkamark.svg">
        </div>
        <div class="hecho-en-mexico">
          <img src="/assets/imagenes/hechoEnMexico.svg">
        </div>
      </div>
      <div class="hero-right">
        <p>Dedicada al diseño, fabricación y manufactura de:</p>
        <ul>
          <li><a href="#">Capacitores de potencia.</a></li>
          <li><a href="#">Bancos de capacitores tipo poste.</a></li>
          <li><a href="#">Bancos de capacitores tipo subestación.</a></li>
          <li><a href="#">Bancos de capacitores tipo transmisión.</a></li>
          <li><a href="#">Servicios.</a></li>
        </ul>
        <a class="boton-final" href="">mas información</a>
      </div>
      <div class="hero-footer">
        <p>Empeñados en desarrollar y fabricar equipos eléctricos de potencia cumpliendo con las especificaciones nacionales e internacionales.</p>
        <div>
          <a href="">Descubre más...</a>
        </div>
      </div>
    </div>
  </div>