#topNavbar {
    background: url('/assets/imagenes/galeria/20190131_114635.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 14vh;
    img {
        height: 100%;
        transform: translateX(150%);
        cursor: pointer;
    }
}

@media screen and ( max-width: 768px ) {
    #topNavbar{
        img {
            transform: translateX(0);
            margin: auto;
            display: block;
        }
    }
}