<div class="content">
  <h1 class="heading">Nuestros productos</h1>
  <p class="description">Calidad y confianza.</p><a class="card" routerLink="CFEV8000-52">
    <div class="front" style="background-image: url(/assets/imagenes/CFEV8000/portada.jpg)">
      <p>Tensión de Operación Sistemas de Distribución de 13.8 a 34.5 kV</p>
    </div>
    <div class="back">
      <div>
        <p>Potencias más comunes 600 a 3600 kVAR</p>
        <p>CRIMSA diseña bancos de capacitores fijos y automáticos acorde a las necesidades del cliente...</p><button
          class="button">Ver más</button>
      </div>
    </div>
  </a><a class="card" routerLink="FRAFSI114">
    <div class="front" style="background-image: url(/assets/imagenes/FRAFSI114/1.jpg)">
      <p>Capacitores de potencia monofásicos para media y alta tensión
      </p>
    </div>
    <div class="back">
      <div>
        <p>Capacitores de potencia
          Monofásicos para media y alta tensión</p>
        <p>Rango de voltaje de 1 hasta 20 kV</p>
        <p>Rango de potencia de 25 a 400 KVAR</p>
        <button class="button">Ver más</button>
      </div>
    </div>
  </a><a class="card" routerLink="V800006">
    <div class="front" style="background-image: url(/assets/imagenes/V800006/1.jpg)">
      <p>Bancos de capacitores de potencia tipo poste para redes de distribución</p>
    </div>
    <div class="back">
      <div>
        <p>Los bancos de capacitores montados en los postes proveen una instalación que puede ser localizada cerca de la
          carga en los sistemas de distribución...</p>
        <button class="button">Ver más</button>
      </div>
    </div>
  </a><a class="card" routerLink="V800053">
    <div class="front" style="background-image: url(/assets/imagenes/V800053/1.jpg)">
      <p>Bancos de capacitores de potencia para redes de transmisión </p>
    </div>
    <div class="back">
      <div>
        <p>Tensión de Operación para Sistemas de Transmisión de 69 a 161 kV; Potencias de hasta 45 MVAR.</p>
        <p>Este tipo de Bancos son utilizados para proveer grandes cantidades de kVAR divididas en bloques o módulos...
        </p>
        <button class="button">Ver más</button>
      </div>
    </div>
  </a>
</div>
