<div class="content">
  <h1 class="heading">Nuestros productos</h1>
  <p class="description">Calidad y confianza.</p><a class="card" routerLink="CFEV8000-52">
    <div class="front" style="background-image: url(/assets/imagenes/CFEV8000/portada.jpg)">
      <p>Tensión de Operación Sistemas de Distribución de 13.8 a 34.5 kV</p>
    </div>
    <div class="back">
      <div>
        <p>Potencias más comunes 600 a 3600 kVAR</p>
        <p>CRIMSA diseña bancos de capacitores fijos y automáticos acorde a las necesidades del cliente..</p><button
          class="button">Ver más</button>
      </div>
    </div>
  </a><a class="card" href="#!">
    <div class="front" style="background-image: url(//source.unsplash.com/300x402)">
      <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
    </div>
    <div class="back">
      <div>
        <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
        <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p><button class="button">Click
          Here</button>
      </div>
    </div>
  </a><a class="card" href="#!">
    <div class="front" style="background-image: url(//source.unsplash.com/300x403)">
      <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
    </div>
    <div class="back">
      <div>
        <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
        <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p><button class="button">Click
          Here</button>
      </div>
    </div>
  </a><a class="card" href="#!">
    <div class="front" style="background-image: url(//source.unsplash.com/300x404)">
      <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
    </div>
    <div class="back">
      <div>
        <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
        <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p><button class="button">Click
          Here</button>
      </div>
    </div>
  </a><a class="card" href="#!">
    <div class="front" style="background-image: url(//source.unsplash.com/300x405)">
      <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
    </div>
    <div class="back">
      <div>
        <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
        <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p><button class="button">Click
          Here</button>
      </div>
    </div>
  </a><a class="card" href="#!">
    <div class="front" style="background-image: url(//source.unsplash.com/300x406)">
      <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
    </div>
    <div class="back">
      <div>
        <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
        <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p><button class="button">Click
          Here</button>
      </div>
    </div>
  </a>
</div>
