<app-top-navbar></app-top-navbar>
<div class="bgtint"></div>
<div class="tarjetas">
    <div class="tarjeta">
        <section class="bussinesscard">
            <div class="flip">
              <div class="front">
                <div class="top">
                  <div class="logo"><span class="fat">CRI</span><span class="skinny">MSA</span></div>
                </div>
                <div class="nametroduction">
                  <div class="name">En construcción</div>
                  <div class="introduction">Departamento de ventas</div>
                </div>
                <div class="contact">
                  <div class="website">
                    <span class="ion-earth"></span>
                    <a href="#">www.crimsamexico.com</a>
                  </div>
                  <div class="phone ">
                    <span class="ion-ios7-telephone"></span>
                    <a href="#">551 234 5678 ext.12</a>
                  </div>
                  <div class="email ">
                    <span class="ion-paper-airplane"></span>
                    <a href="#">Mario@crimsamexico.com</a>
                  </div>
                </div>
              </div>
              <div class="back"></div>
              <!--FIXES FONT RENDERING -->
            </div>
          </section>
    </div>
    <div class="tarjeta"></div>
    <div class="tarjeta"></div>
    <div class="tarjeta"></div>
    <div class="tarjeta"></div>
</div>