<section class="section">
  <div class="container">
    <h1 class="title">Tensión de Operación Sistemas de Distribución de 13.8 a 34.5 kV</h1>
    <h2 class="subtitle">
      Potencias más comunes 600 a 3600 kVAR
    </h2>
    <div class="block">
      CRIMSA diseña bancos de capacitores fijos y automáticos acorde a las necesidades del cliente. Estos bancos son
      instalados principalmente en subestaciones eléctricas donde se requiere una mayor cantidad de reactivos y se
      emplean para aplicaciones de corrección de factor de potencia acorde con el Código de Red vigente. Los bancos son
      de fácil instalación y pueden diseñarse para servicio tipo exterior e interior.
    </div>
    <div class="columns is-desktop is-vcentered">
      <div class="column">
        <figure class="image is-5by4">
        <img src="/assets/imagenes/CFEV8000/portada.jpg">
      </figure>
      </div>
      <div class="column">
      <figure class="image is-5by4">
        <img src="/assets/imagenes/CFEV8000/2.jpg">
      </figure>
      </div>
      <div class="column">
      <figure class="image is-5by3">
        <img src="/assets/imagenes/CFEV8000/3.jpg">
      </figure>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <strong>
      ARREGLO DE BANCOS DE CAPACITORES PARA TENSIÓN NOMINAL DEL SISTEMA DE 13.8 KV, 23 KV Y 34.5 KV, ESPECIFICACIÓN CFE
      V8000-52
    </strong>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Potencia nominal del banco (KVAR)</th>
            <th>Grupos por fase</th>
            <th>Capacitores de potencia en paralelo por fase</th>
            <th>Capacitores de potencia monofásicos (kVAR)</th>
            <th>Tensión Nominal de los Capacitores de potencia monofásicos (kV)</th>
            <th>Número total de capacitores de potencia</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Potencia nominal del banco (KVAR)</th>
            <th>Grupos por fase</th>
            <th>Capacitores de potencia en paralelo por fase</th>
            <th>Capacitores de potencia monofásicos (kVAR)</th>
            <th>Tensión Nominal de los Capacitores de potencia monofásicos (kV)</th>
            <th>Número total de capacitores de potencia</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>600</td>
            <td>1</td>
            <td>4</td>
            <td>50</td>
            <td>7.96 kV</td>
            <td>12</td>
          </tr>
          <tr>
            <td>900</td>
            <td>1</td>
            <td>6</td>
            <td>50</td>
            <td>7.96 kV</td>
            <td>18</td>
          </tr>
          <tr>
            <td>1200</td>
            <td>1</td>
            <td>8</td>
            <td>50</td>
            <td>13.28 kV</td>
            <td>24</td>
          </tr>
          <tr>
            <td>1800</td>
            <td>1</td>
            <td>6</td>
            <td>100</td>
            <td>13.28 kV</td>
            <td>18</td>
          </tr>
          <tr>
            <td>2400</td>
            <td>1</td>
            <td>8</td>
            <td>100</td>
            <td>19.92 kV</td>
            <td>24</td>
          </tr>
          <tr>
            <td>3600</td>
            <td>1</td>
            <td>8</td>
            <td>150</td>
            <td>19.92 kV</td>
            <td>24</td>
          </tr>
        </tbody>
      </table>
    </div>
    <strong>Los elementos que conforman este modelo de bancos son:</strong>
    <div class="content">
      <ul>
        <li>capacitores de potencia monofásicos de 1 boquilla.</li>
        <li>cuchilla desconectadora monopolar de operación sin carga o cuchilla cortacircuitos fusible de potencia.*
        </li>
        <li>eslabón fusible tipo expulsión velocidad K.</li>
        <li>kit canilla porta fusible – resorte.</li>
        <li>apartarrayos de óxidos metálicos clase III</li>
        <li>transformador de potencial inductivo.</li>
        <li>aisladores de porcelana tipo columna para aislamiento de estructuras.</li>
        <li>desconectador trifásico.*</li>
        <li>cuchilla tetrapolar de puesta a tierra</li>
        <li>relevador de protección y control.*</li>
        <li>estructura metálica galvanizada por inmersión en caliente para montaje de equipos.</li>
        <li>buses de cobre y aluminio para interconexión del banco</li>
        <li>conectores para interconexión de buses</li>
        <li>conductor para interconexión de neutro.</li>
        <li>conectores de puesta a tierra.</li>
        <li>herrajes para montaje de equipos.</li>
      </ul>
      <div class="block">
        <em>* De acuerdo con el esquema de protección del banco.</em>
      </div>
      <div class="block">
        <p>
          Los bancos de capacitores pueden fabricarse para diferentes tensiones y potencias a las especificadas, así
          como alojados en Gabinetes Metal Clad autosoportados, para servicio interior y exterior de acuerdo con las
          normas IEC o ANSI
        </p>
      </div>
      <div class="block">
        <p>
          En CRIMSA nos preocupamos por la calidad de nuestros productos y la entera satisfacción de nuestros clientes,
          por lo que el diseño, características de operación y equipos que integran nuestros bancos de capacitores
          cumplen con lo establecido en la especificación CFE V8000-52 vigente.
        </p>
      </div>
    </div>
  </div>
</section>
